@media (max-width: 575px) {

    body {
        background-image: url(img/background_stars2.jpg);
        height: 100%;
    }

}

@media (min-width: 576px) {

    body {
        background-image: url(img/background_stars2.jpg);
        height: 100vh;
    }

}

/* @media (min-width: 993px) {

    #main-container {
        background-image: url(img/main_menu_graphic_site.png);
        height: 100vh;

    }
} */

textarea {
    resize: none;
}

/* #user_name-error {
    margin-left: 30px;
    color: red;
} */