# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ttf

#dir
#finance_web_aplication_bootstrap/img/
#html & css/img/

#other
*.pdf
*.uxf
*.docx

materialy_pomocnicze/
finance_web_application_with_MVC_framework/awstats/
finance_web_application_with_MVC_framework/logs/
finance_web_application_with_MVC_framework/vendor/