{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block body %}


<main>

    <div class="row justify-content-center text-center">

        <div class="col-10 col-sm-6 col-lg-4 bg-white rounded-5 shadow-lg border">

            <h1 class="h1 my-3 fw-bolder font-monospace">Zaplanuj swój budżet zawsze i wszędzie!</h1>

            <div class="col-sm-8 mx-auto">
                <img src="/img/main_site_graphic2.png" alt="main_site_graphic" class="img-fluid">
            </div>

            <a class="btn btn-dark my-4 mx-4 p-2 btn-lg" href="/signup/new" role="button">Rejestracja</a>
            <a class="btn btn-dark mx-4 p-2 btn-lg" href="/login" role="button">Logowanie</a>

        </div>

    </div>

</main>

{% endblock %}