{% extends "base.html" %}

{% block title %}Sign up{% endblock %}

{% block footer %}

<!-- <script src="/public/js/hideShowPassword.min.js"></script> -->
<!-- <script src="hideShowPassword.min.js"></script> -->
<script src="/finance_web_application_with_MVC_framework/public/js/hideShowPassword.min.js"></script>


<script>
    $.validator.addMethod('validPassword',
        function (value, element, param) {
            if (value != '') {
                if (value.match(/.*[a-z]+.*/i) == null) {
                    return false;

                }
                if (value.match(/.*\d+.*/) == null) {
                    return false;

                }
            }

            return true;
        },
        'Must contain at least one letter and one number'
    );



    $(document).ready(function () {

        $('#formSignup').validate({
            rules: {
                name: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: '?account/validate-email'
                },
                password: {
                    required: true,
                    minlength: 6,
                    validPassword: true
                }

            },
            messages: {
                email: {
                    remote: 'email already taken'
                }
            }
        });


        $('#inputPassword').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });

    });

</script>

{% endblock %}


{% block body %}

<!-- <h1>Sing up</h1>

{% if user.errors is not empty %}

<p>Errors:</p>
<ul>
    {% for error in user.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %} -->

<!-- <form method="post" action="?signup/create" id="formSignup">

    <div>
        <label for="inputName">Name</label>
        <input id="inputName" name="name" placeholder="Name" autofocus value="{{ user.name }}" required>
    </div>

    <div>
        <label for="inputEmail">Email address</label>
        <input id="inputEmial" name="email" placeholder="email address" value="{{ user.email }}" type="email" required>
    </div>

    <div>
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" name="password" placeholder="Password" required>
    </div>

    <button type="submit">Sign up</button>

</form> -->

<main>

    <div class="row justify-content-center text-center">

        <div class="col-8 col-sm-10 bg-white rounded-5 shadow-lg border">

            <h1 class=" h4 my-3 fw-bolder font-monospace mx-2 mt-4">
                Zyskaj kontrolę nad swoimi wydatkami!
            </h1>

            <p class="h5 my-3 fw-bolder font-monospace">Zacznij od..</p>

            <form method="post" class="m-4" action="?signup/create" id="formSignup">

                <div class="input-group mb-2">
                    <span class="input-group-text" id="username"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
                            <path
                                d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z" />
                            <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg></span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="username" name="username" required>

                </div>

                <div class="input-group mb-2">
                    <span class="input-group-text" id="email">@</span>
                    <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                        aria-describedby="email" name="email" required>
                </div>

                <div class="input-group mb-2">
                    <span class="input-group-text" id="password"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                        </svg></span>
                    <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                        aria-describedby="password" name="password" id="inputPassword" required>
                </div>

                <!-- <div class="input-group mb-2">
                    <span class="input-group-text" id="password_confirm"><svg xmlns="http://www.w3.org/2000/svg"
                            width="16" height="16" fill="currentColor" class="bi bi-clipboard-check"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                            <path
                                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
                            <path
                                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
                        </svg></span>
                    <input type="password" class="form-control" placeholder="Confirm password"
                        aria-label="password confirm" aria-describedby="password confirm" name="confirmPassword"
                        required>
                </div> -->

                <div>
                    <button type="submit" class="btn btn-success mt-3 btn-lg">Rejestracja</button>
                </div>

            </form>

            <a class="btn btn-primary mb-4" href="log in.php" role="button">Masz już konto?</a>

        </div>

    </div>

</main>

{% endblock %}