body {
    background-color: #192038;
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;

}

h1 {

    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;

}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 30px;

}

header {
    background-color: #455d8f;
    text-shadow: 4px 4px 2px #192038;
    border-bottom: #fff solid 2px;
    border-right: #fff solid 2px;
    border-left: #fff solid 2px;
    border-radius: 20px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;

}

section {

    background-color: #455d8f;
    border: #fff solid 2px;
    border-radius: 5%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 20px;
    box-shadow: 3px 3px 30px 5px rgba(0, 0, 0, 0.9);
}

#sign-in-button {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding: 20px;

}

#sign-in-button button {
    color: #fff;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: #fff solid 1px;
    border-radius: 7%;
    background-color: #44c259;
    transition: color 0.35s, border-color 0.35s, box-shadow 0.35s, transform 0.35s;
    outline: none;
    letter-spacing: 2px;
    width: 200px;
}

#sign-in-button button:hover {
    background-color: #1d6e2f;
    cursor: pointer;
    border: #192038 solid 2px;
    color: #fff;
    box-shadow: 0 0.5em 0.5em -0.4em #192038;
    transform: translateY(-0.25em);
}

.text-field {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 5px;
    display: inline;
    color: #192038;
    border-radius: 5px;
    border: none;
    outline: none;

}

.text-field:focus {
    box-shadow: 0px 0px 10px 3px #192038;

}

.label {
    color: #fff;
}

.label:hover {
    color: #44c259;
}